{% extends "layout/base.njk" %}

{% set title = "Localli" %}

{% from 'info/info.njk' import infoBlock %}

{% block content %}
  {% include "header/header.njk" %}
  {% include "intro/intro.njk" %}
  {% include "steps/steps.njk" %}
  {{ infoBlock(infoFirst) }}
  {% include "expanding/expanding.njk" %}
  {{ infoBlock(infoSecond) }}
  {% include "footer/footer.njk" %}
{% endblock %}
