<button 
    x-data="burger" 
    :class="open ? 'burger--open': ''" 
    @click="toggle"
    @close-nav.window="close"
    @keyup.escape="close"
    class="burger" 
    type="button" 
    aria-label="open the menu"
  >
  <span class="burger__line" aria-hidden="true"></span>
  <span class="burger__line" aria-hidden="true"></span>
  <span class="burger__line" aria-hidden="true"></span>
</button>