.expanding {
  padding-top: 30px;
  padding-bottom: 30px;

  @include min($lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    text-align: center;
    max-width: 510px;
    margin: 0 auto 12px;
  }

  &__location {
    text-align: center;
    max-width: 510px;
    margin: 0 0 25px;
  }
}