.header {
  padding-top: 15px;
  padding-bottom: 15px;

  @include min($lg) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    z-index: 2;
  }
}
