$xs: 320;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

:root {
  --bg-color: #fafafa;
  --color-white: #ffffff;
  --color-black: #000000;
  --text-color-default: #212529;
  --text-color-dark: #000000;
  --text-color-gray: #686868;
  --text-color-light-gray: #A6A6A6;
}